body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 2em 0em 2em 1em;
  height: fit-content;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

a {
  color: black;
  margin-right: 0.5em;
  padding: 0.25em 1em 0.25em 1em;
  border: 2px solid black;
  border-radius: 32px;
  text-decoration: none;
}

a:hover {
  background-color: black;
  color: white;
}

div.form {
  text-align: center;
}

input {
  border-radius: 32px;
  border: 2px solid black;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: 1em;
}

button {
  border-radius: 32px;
  border:2px solid black;
  padding: 0.5em 1em 0.5em 1em;
}
