:root {
  --main-color: #c4ffd1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --------------------- DIVS AND SECTIONS AND SUCH ----------------------- */
body {
  background-color: #222;
}
div.card {
  background-color: var(--main-color);
  border-radius: 32px;
  width: 30%;
  margin: 2em auto auto auto;
  padding: 2em 2em 4em 2em;
  text-align: center;
  height: 250px;
}
nav {
  text-align: center;
  padding: 2em 1em 2em 1em;
  height: fit-content;
  color: white;
}
div.form {
  text-align: center;
}
div.nav-buttons { 
  text-align: center;
}

/* --------------------- TEXT AND LINKS ----------------------- */
nav h1 {
  font-size: 3em;
  color: var(--main-color)
}
div.card h2  {
  margin-bottom: 2em;
  min-height: 45px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  background-color: #222;
  color: var(--main-color);
  font-weight: bold;
  margin-right: 0.5em;
  padding: 0.25em 1em 0.25em 1em;
  border: 2px solid var(--main-color);
  border-radius: 32px;
  text-decoration: none;
  box-shadow: 10px 13px 62px -7px rgba(0,0,0,0.75);
}
a:hover {
  background-color: var(--main-color);
  color: black;
}
ul {
  text-align: left;
}

/* --------------------- INPUTS AND BUTTONS ----------------------- */
input {
  border-radius: 32px;
  border: 2px solid black;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: 4em;
}

button {
  background-color: #222;
  color: var(--main-color);
  font-weight: bold;
  border-radius: 32px;
  border:2px solid black;
  padding: 0.5em 1em 0.5em 1em;
  width: 30%;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--main-color);
  }
  nav h1 {
    color: #222;
  }
  div.card {
    background-color: var(--main-color);
    color: #222;
    border: 4px solid #222;
    box-shadow: 10px 13px 34px -13px rgba(0,0,0,0.75);
  }
  a:hover {
    background-color: var(--main-color);
    color: black;
    border: 2px solid #222;
  }
}
